body {
    background: linear-gradient(135deg, #3498db, #1cbc67);
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.3rem;
}

p {
    font-weight: 400;
    font-size: 1.3rem;
}
header p{
    text-align: left;
    color: black;
    font-size: 4rem;
    font-family:cursive;
}

#lav{
    display:flex;
    object-position: right;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 90px;
}

nav {
    background-color: #333333;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    font-size: 2rem;
    text-align:center;
    padding-inline-start: 0rem;
}

#b1 {

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b1 {
    color: #141816;
    text-decoration: none;
}

#b1:active {
    text-decoration: underline;
}

#b1:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}
#b2 {

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b2 {
    color: #141c18;
    text-decoration: none;
}

#b2:active {
    text-decoration: underline;
}

#b2:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}
#b3 {

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b3{
    color: #101211;
    text-decoration: none;
}

#b3:active {
    text-decoration: underline;
}

#b3:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}
#b3 {

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b3 {
    color: #0e1110;
    text-decoration: none;
}

#b3:active {
    text-decoration: underline;
}

#b3:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}
#b4{

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b4 {
    color: #121714;
    text-decoration: none;
}

#b4:active {
    text-decoration: underline;
}

#b4:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}
#b5 {

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b5 {
    color: #080b0a;
    text-decoration: none;
}

#b5:active {
    text-decoration: underline;
}
#b6 {

    display: inline-block;
    margin: 0.25rem;
    background-color: #3498db;
    border-radius: 90px;
}

#b6 {
    color: #121915;
    text-decoration: none;
}

#b6:active {
    text-decoration: underline;
}

#b6:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}

#b5:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    color:#db3434;
}
section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

article {
    flex: 1;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
}

article img {
    max-width: 100%;
}

article ul {
    list-style: none;
    font-size: 1.3rem;
}





main article {
    background-color: #fbdabb79;
    padding-left: 1rem;
    padding-right: 1rem;
}

#pan {
    background-image: url("./mile.jpeg");
    background-size: cover;
    background-position: center;
    color: #495E57;
    text-shadow: 2px 2px 8px #FFF9B0;
    text-align: right;
}

#hero h1 {
    margin-right: 2rem;
    font-weight: 600;
    font-size: 80px;
}

#hero p {
    max-width: 100%;
    margin-left: 16rem;
    margin-right: 2rem;
}

footer {
    margin: 1rem;
    display: flex;
    gap: 2rem 1rem;
}

footer p {
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
}

footer div {
    flex: 1;
}
